body {
    margin: 0;
    padding: 0;
    font-family: 'Cursive', cursive; 
    background-color: #ffcccc; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ff5656; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}


.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}



/* Animación para aparecer y desaparecer */
@keyframes appearDisappear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

h1 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 24px;
    margin: 10px 0;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #ff5656;
    border-radius: 24px;
    border: 3px solid #ff7979;
    color: aqua;
    letter-spacing: 2px;
}

#yesButton{
font-weight: bold;
background-color: #fd3737;
}

#noButton{
    color: #ff0000;
}
#noButton:disabled{
    color: #ff9999;
}

.lives-bar {
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 10px 0;
}

#lives {
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
}

#message {
    font-size: 18px;
    margin: 10px 0;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#propuesta {
    position: relative;
    animation: fadeInOut 2s ease-in-out; 
}

#background-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeInOut 4s ease-in-out; 
}
